body{
    background: #121212;
}
#digital-clock{
    text-align=center;
    color:#39ff14;
    font-family: "Goldman";
    font-size: 70px;
    padding : 20px 10px 20px;
    position: fixed;
    top: 50%;
    left: 52%;
    margin-top: -100px;
    margin-left: -200px;
}
.time{
    color:#39ff14;
    font-family: "Goldman";
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -100px;
     margin-left: -30px;    
}
